<div class="general" *ngIf="movie">
    <div class="container">
        <div class="agileits-single-top">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">{{movie.title}}</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="row" *ngIf="movie">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail">
            </div>
            <div class="col-md-8">
                <h2>{{movie.title}}
                    <small class="label label-warning">
                        {{movie.vote_average}}
                        <i class="glyphicon glyphicon-star"></i>
                    </small>
                </h2>
                <p>{{movie.tagline}}</p>
                <p *ngIf="movie.genres">
                    <a [routerLink]="['/genres/', genre.name, genre.id]" *ngFor="let genre of movie.genres" class="label label-danger">
                        {{genre.name}}
                    </a>
                </p>

                <p class="fexi_header_para">
                    <span>Release date<label>:</label> </span>{{movie.release_date | date:'dd/MM/yyyy'}}</p>
                <p class="fexi_header_para">
                    <span>Status<label>:</label> </span>{{movie.status}}</p>
                <p class="title_para">Overview</p>
                <p class="fexi_header_para">
                    {{movie.overview}}
                </p>
                <!--Casts-->
                <div class="row is-flex" *ngIf="cast && cast.length > 0">
                    <div class="col-md-12">
                        <p class="title_para">Actors</p>
                    </div>
                    <div class="col-md-3" *ngFor="let actor of cast">
                        <div class="thumbnail">
                            <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="">
                            <div class="caption">
                                <h6 class="text-center"><a [routerLink]="['/actors',actor.id]">{{actor.name}}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Casts-->
            </div>
        </div>

    </div>
</div>