<div class="general">
  <h4 class="latest-text w3_latest_text">{{ genreName}}</h4>
  <div class="container">
    <div class="agileits-single-top">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">{{ genreName}}</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div class="w3_agile_featured_movies">
      <div class="col-md-2 w3l-movie-gride-agile" *ngFor="let movie of movies; let i = index;">
        <cm-movie-item [movie]="movie"></cm-movie-item>
      </div>
    </div>
  </div>
</div>